<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items">
        <plugin name="printess_admin_order_columns" type="Digitalprint\PrintessDesigner\Plugin\Adminhtml\OrderColumnsHead" sortOrder="1" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="printess_admin_order_columns_renderer" type="Digitalprint\PrintessDesigner\Plugin\Adminhtml\OrderColumnsBody" sortOrder="1" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn">
        <plugin name="printess_admin_order_options" type="Digitalprint\PrintessDesigner\Plugin\Adminhtml\OrderOptions" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="printess_catalog_product_render_quantity" type="Digitalprint\PrintessDesigner\Plugin\Product\RenderQuantity" sortOrder="1"/>
        <plugin name="printess_catalog_product_submit_url" type="Digitalprint\PrintessDesigner\Plugin\Product\SubmitUrl" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="printess_cart_item_image" type="Digitalprint\PrintessDesigner\Plugin\CheckoutCart\Image" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="printess_cart_item_option_list" type="Digitalprint\PrintessDesigner\Plugin\CheckoutCart\OptionList" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit">
        <plugin name="printess_cart_configue_url" type="Digitalprint\PrintessDesigner\Plugin\CheckoutCart\ConfigureUrl" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="product_minicart_itemdata" type="Digitalprint\PrintessDesigner\Plugin\Minicart\ItemData" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="printess_orders_customproductattributes" type="Digitalprint\PrintessDesigner\Plugin\Orders\CustomProductAttributes" />
    </type>
    <type name="Magento\Framework\Pricing\Render">
        <plugin name="product_pricing_renderer" type="Digitalprint\PrintessDesigner\Plugin\Pricing\LinkParser" sortOrder="100"/>
    </type>
    <preference for="Digitalprint\PrintessDesigner\Api\DesignerInterface" type="Digitalprint\PrintessDesigner\Model\Api\Designer"/>
    <preference for="Digitalprint\PrintessDesigner\Api\Data\DesignerInterface" type="Digitalprint\PrintessDesigner\Model\Api\Data\Designer"/>
    <preference for="Digitalprint\PrintessDesigner\Api\CartInterface" type="Digitalprint\PrintessDesigner\Model\Cart"/>
    <preference for="Digitalprint\PrintessDesigner\Api\Data\CartInterface" type="Digitalprint\PrintessDesigner\Model\Data\Cart"/>
    <preference for="Digitalprint\PrintessDesigner\Api\OrderInterface" type="Digitalprint\PrintessDesigner\Model\Order"/>
    <preference for="Digitalprint\PrintessDesigner\Api\Data\OrderInterface" type="Digitalprint\PrintessDesigner\Model\Data\Order"/>
    <preference for="Digitalprint\PrintessDesigner\Api\ProductInterface" type="Digitalprint\PrintessDesigner\Model\Api\Product"/>
    <preference for="Digitalprint\PrintessDesigner\Api\Data\ProductInterface" type="Digitalprint\PrintessDesigner\Model\Api\Data\Product" />
</config>
